// Place all the styles related to the Group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    background-color: #000033;
}

h1 {
    color: #ffffff;
}
h2 {
    color: #e6e6e6;
}

h3 {
    color: #e6e6e6;
}
p {
    color: #ffffff;
}
table {
    border: 1px solid yellow;
    width: 75%;
    font-size: 24px;
    background-color: #6699ff;
    color: #000000;
}



td {
    text-align: center;
}