<h1>
    What is this?
</h1>
<p>
    This is a website for finding people to create and join groups, hence the name! 
    Want to start a new Overwatch group? Create a posting in the games section.
    Want to create a study group for your final? Check the academics section.
    Looking for some people to play soccer with? Try the sports section!
</p>
<h1>
    Who made this?
</h1>
<h2>
    Benjamin Polozune <br>
    Dylan Duru <br>
    Mohamed Diallo <br>
    Nicholas Charley <br>
    Samuel Dubois <br>
</h2>

<h3 align=center> <%= link_to 'Main', controller: 'main', action: 'index' %> | About </h3> 