<h1 align=center>Group Finder</h1>
<h2 align = center>Create or find groups in one of the following categories: </h2>

<table align=center>
    <tr>
        <th>Section</th>
        <th>Entries</th>
    </tr>
    
    <tr>
        <td>Sports</td>
        <td>0</td>
    </tr>
        <td>Extreme Sports</td>
        <td>0</td>
    </tr>
        <tr>
        <td>Music</td>
        <td>0</td>
    </tr>
        <tr>
        <td>Onlines</td>
        <td>0</td>
    </tr>
        <tr>
        <td>Study</td>
        <td>0</td>
    </tr>
        <td><%= link_to 'All', controller: 'groups' %></td>
        <td> <%= Group.distinct.count('id') %>
        </td>
    </tr>
</table>

<h3 align=center>Main | Search | About</h3>